<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catchmong">

    <!-- 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <application
        android:label="catchmong"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"> <!-- HTTP 트래픽 허용 설정 -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- 네이버 맵 추가 -->
            <meta-data
                android:name="com.naver.maps.map.CLIENT_ID"
                android:value="9ue8t44jzd"/>
                
            <!-- Google Maps API 키 추가 -->
            <!-- <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="YOUR_GOOGLE_MAPS_API_KEY"/> -->
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
                
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter에서 사용되는 기본 메타데이터 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- 네트워크 보안 구성 -->
        <meta-data
            android:name="android:networkSecurityConfig"
            android:resource="@xml/network_security_config" />
    </application>
</manifest>
