<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GMSApiKey</key>
	<string>AIzaSyBnvO3V8WHrTDXp0hcrKVyhm-qs8uzlPfw</string>
	<key>NSAppTransportSecurity</key>
	<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
	</dict>
	<!-- 갤러리 접근 -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진을 선택하려면 접근 권한이 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>사진을 찍으려면 접근 권한이 필요합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>선택한 사진을 저장하려면 접근 권한이 필요합니다.</string>
	<!-- qrcode카메라 권한 -->
	<key>NSCameraUsageDescription</key>
	<string>QR 코드를 스캔하기 위해 카메라를 사용합니다.</string>
	<!-- 위치 서비스 사용 권한 설명 -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 지도를 표시하고 위치 정보를 제공하기 위해 위치 접근 권한이 필요합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>이 앱은 백그라운드에서 위치를 추적하기 위해 위치 접근 권한이 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>이 앱은 위치 정보를 활용하여 더 나은 사용자 경험을 제공합니다.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
	<string>tel</string>
	</array>

	<!-- 기본 설정 -->
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Catchmong</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>catchmong</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- iOS 14+ 위치 서비스 권한 설정 -->
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<!-- 카카오 로그인 -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao${YOUR_NATIVE_APP_KEY}</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
